{% extends "main.html.twig" %}

{% block header %}

    {% set dish = data %}
    <div class="banner_detail" style="background-image: url('assets/img/{{ dish.image }}');">
        <div class="banner-logo">
            <a href="indexF.php">
                <img src="assets/img/logo-v2.png" alt="Logo">
            </a>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% set dish = data %}
            <div class="dish-detail-card">
                <div class="dish-image">
                    <img src="assets/img/{{ dish.image }}" alt="{{ dish.title }}">
                </div>
                <div class="dish-info">
                    <div class="extra_info">
                        <span class="persons"><i class="fa fa-users"></i> {{ 4 }}</span>
                        <span class="price"><i class="fa fa-euro"></i> {{ dish.Price|default('-') }}</span>
                        <span class="calories"><i class="fa fa-fire"></i> {{ dish.Calories|default('-') }}</span>
                    </div>
                    <div class="dish_header">
                        <h2>{{ dish.title }}</h2>
                        {# rating! #}
                        <div class="ster">
                            <div class="rating interactive-rating">
                                {% for i in 1..5 %}
                                    <span class="star" data-value="{{ i }}"><i class="fa fa-star"></i></span>
                                {% endfor %}
                            </div>
                            <div id="rating-message"></div>
                        </div>
                    </div>
                    <div class="details-row">
                        <span class="label"><h3>Keuken</h3></span>
                        <span class="value">{{ dish.Kitchen.description|default('-') }}</span>
                        <span class="label type-label"><h3>Type</h3></span>
                        <span class="value">{{ dish.Type.description|default('-') }}</span>
                    </div>
                    <p class="long-description">{{ dish.long_description }}</p>
                    <div class="footer_card">
                        <div class="smullenbtn">
                            <a href="indexF.php?action=grocery_list&dish_id={{ dish.id }}" class="smullen-button">Op Lijst</a>
                        </div>
                        {# favorites! #}
                        <div class="heart-icon interactive-favorite">
                            <i id="favorite-heart" class="fa fa-heart-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tabs">
                <input type="radio" id="ingredients" name="tabs" checked>
                <label for="ingredients"><h4>Ingredients</h4></label>

                <input type="radio" id="preparation" name="tabs">
                <label for="preparation"><h4>Preparation</h4></label>

                <input type="radio" id="notes" name="tabs">
                <label for="notes"><h4>Comments</h4></label>

                <div id="content-ingredients" class="tab-content">
                    <ul>
                        {% for ingredient in dish.Ingredients %}
                            <li>
                                <div class="plaatje">
                                    <img src="assets/img/{{ ingredient.plaatje }}" alt="{{ ingredient.name }}">
                                </div>
                                <div class="ingredient_txt">
                                    <h3>{{ ingredient.name }}</h3>
                                    <p>'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'</p>
                                    <div class="hoeveelheid">
                                        <h4>Hoeveelheid:</h4>
                                        <p>{{ ingredient.quantity }} {{ ingredient.unit|default('') }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="content-preparation" class="tab-content">
                    <ol>
                        {% for step in dish.Preparation_steps.preparation_steps|sort((a, b) => a.numberfield <=> b.numberfield) %}
                            <li>{{ step.textfield }}</li>
                        {% endfor %}
                    </ol>
                </div>

                <div id="content-notes" class="tab-content">
                    <ul>
                        {% for comment in dish.Comments.comments %}
                            <li>
                                <div class="Plaatje_user">
                                    <img src="assets/img/{{ comment.user_image }}" alt="{{ comment.user_name }}">
                                </div>
                                <div class="comment_text">
                                    <h3>{{ comment.user_name }}</h3>
                                    <div class="comment_para">
                                        <p>{{ comment.textfield }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        // === rating === //
        $(document).ready(function() {
            const stars = $('.interactive-rating .star');
            const ratingMessage = $('#rating-message');
            const dishId = '{{ dish.id }}';

            function fillStars(average) {
                stars.each(function() {
                    const star = $(this);
                    const value = parseInt(star.data('value'));
                    star.toggleClass('filled', value <= average);
                });
            }

            function fetchAverageRating() {
                $.ajax({
                    url: `indexF.php?action=rating_actions&request_type=average&item_id=${dishId}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        if (data.success && typeof data.average !== 'undefined' && data.average !== null) {
                            fillStars(Math.round(parseFloat(data.average)));
                        } else {
                            console.error('Fout bij ophalen gemiddelde:', data ? data.error : 'Onbekende fout');
                        }
                    },
                    error: function() {
                        ratingMessage.text('Netwerkfout bij ophalen gemiddelde.');
                    }
                });
            }

            fetchAverageRating();

            stars.on('click', function() {
                const clickedStar = $(this);
                const rating = clickedStar.data('value');

                $.ajax({
                    url: `indexF.php?action=rating_actions`,
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({
                        type: 'rate',
                        item_id: dishId,
                        rating: rating
                    }),
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            const ratingGiven = parseInt(clickedStar.data('value'));
                            // laad gemiddelde voor invulling sterren
                            fillStars(ratingGiven);
                            ratingMessage.text(`Je hebt ${ratingGiven} ster(ren) gegeven. Bedankt!`);

                            setTimeout(function() {
                                ratingMessage.text('');
                            }, 3000);
                        } else {
                            console.error('Fout bij opslaan rating:', data.error);
                        }
                    },
                    error: function() {
                        ratingMessage.text('Netwerkfout, probeer het opnieuw.');
                    }
                });
            });
        });

        // === favorites === //
        $(document).ready(function() {
            const favoriteContainer = $('.interactive-favorite');
            const heartIcon = $('#favorite-heart');
            const dishId = '{{dish.id}}';

            function fillHeart(isFavorite) {
                if (isFavorite) {
                    heartIcon.removeClass('fa-heart-o').addClass('fa-heart');
                } else {
                    heartIcon.removeClass('fa-heart').addClass('fa-heart-o');
                }
            }

            function fetchFavoriteStatus() {
                $.ajax({
                    url: `indexF.php?action=favorites_actions&request_type=check&item_id=${dishId}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        if (data.success && typeof data.is_favorite !== 'undefined') {
                            fillHeart(!!parseInt(data.is_favorite));
                        } else {
                            console.error('Fout bij ophalen favorieten status:', data ? data.error : 'Onbekende fout');
                        }
                    },
                    error: function() {
                        console.error('Netwerkfout bij ophalen favorieten status.');
                    }
                });
            }

            fetchFavoriteStatus();

            favoriteContainer.on('click', function() {
                $.ajax({
                    url: 'indexF.php?action=favorites_actions',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({
                        type: 'favorite',
                        item_id: dishId
                    }),
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            fetchFavoriteStatus();
                            console.log('Favorieten status gewijzigd.');
                        } else {
                            console.error('Fout bij opslaan favoriet:', data.error);
                        }
                    },
                    error: function() {
                        console.error('Netwerkfout bij opslaan favoriet.');
                    }
                });
            });
        });
    </script>

{% endblock %}