{% extends "main.html.twig" %}

{% block header %}
    <div class="banner">
        <div class="banner-logo">
            <a href="http://localhost/educom-verrukkulluk-1745327773/indexF.php">
                <img src="assets/img/logo-v2.png" alt="Logo">
            </a>
        </div>
    </div>
    <div class="paging">
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="Groceries">
                <h1>Groceries</h1>
                {% for ingredient in data.Ingredients %}
                    <div class="boodschap-item">
                        <div class="item-afbeelding">
                            <img src="assets/img/{{ ingredient.plaatje }}" alt="{{ ingredient.name }}">
                        </div>
                        <div class="item-details">
                            <h3 class="item-naam">{{ ingredient.name }}</h3>
                            <p class="item-beschrijving">{{ ingredient.description }}</p>
                        </div>
                        <div class="item-aantal">
                            <input type="number" value="{{ 1 }}" min="1">
                        </div>
                        <div class="item-prijs">
                            <span class="price"><i class="fa fa-euro"></i> {{ ingredient.price|number_format(2, ',', '.')|default('-') }}</span>
                        </div>
                        <div class="item-acties">
                            <button><i class="fa fa-plus"></i></button>
                            <button><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                {% endfor %}
                <div class="total-price">
                    <h2 class="Total">Total</h2>
                    <span class="price"><i class="fa fa-euro"></i> {{0}}</span>
                    <div class="item-acties"><button><i class="fa fa-trash"></i></button></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}